# Secretos — NUNCA subir al repositorio
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Paquetes instalados
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
